# H1: DataScicenceEcosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives:*
* Data Science Languages
* Data Science Libraries
* Data Science Tools
* Arithmetic expressions
* Convertion minutes into hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. TenserFlow
3. Pandas
4. SciPy
5. Keras

| Data Science Tools | | |
| ------ | ------ | ------ | 
| R Studio | Apache Spark | Tenser Flow |

# H3: Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = 200 / 60
print(hours)

3.3333333333333335

# H2: Author
Tim Pahnke